<div class="jumbotron">
  <h1><i class="fas fa-gift"></i> Seja bem-vindo!</h1>
  <p>Seus capangas favoritos estão lhe esperando...</p> 
  <%= link_to 'Cadastre-se', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>