<div class="container-fluid">
  <h1>Produtos</h1>
  <p>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. </p>
  <p>Quem num gosta di mim que vai caçá sua turmis! Casamentiss faiz malandris se pirulitá.</p>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Produto</th>
          <th scope="col">Descrição</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Reservar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Produto 1</td>
          <td>Excelente produto1</td>
          <td>
            <select class="custom-select col-md-3">
              <option selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
              <option value="3">5</option>
            </select>
          </td>
          <td class="text-center">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>  
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Produto 2</td>
          <td>Excelente produto2</td>
          <td>
            <select class="custom-select col-md-3">
              <option selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
              <option value="3">5</option>
            </select>
          </td>
          <td class="text-center">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>  
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Produto 3</td>
          <td>Excelente produto3</td>
          <td>
            <select class="custom-select col-md-3">
              <option selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
              <option value="3">5</option>
            </select>
          </td>
          <td class="text-center">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer class="row">
        <div class="col-sm-6">
          <button class="btn btn-primary" name="botao-novaReserva" data-toggle="modal" data-target="#NovaReserva">Fazer reserva</button>
        </div>
  </footer>
</div>