<div class="container-fluid">
  <div class="row">
    <h1>Produtos</h1>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Produto</th>
          <th scope="col">Descrição</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Produto 1</td>
          <td>Excelente produto1</td>
          <td>seletor Qt</td>
          <td>seletor</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Produto 2</td>
          <td>Excelente produto2</td>
          <td>seletor Qt</td>
          <td>seletor</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Produto 3</td>
          <td>Excelente produto3</td>
          <td>seletor Qt</td>
          <td>seletor</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>